.MouseDown {
  font-family: "Poppins", serif;
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  white-space: nowrap;
  text-transform: uppercase;

  &::after {
    content: "scroll down";
    position: absolute;
    bottom: -35%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
  }

  .mouse {
    position: relative;
    width: 50px;
    height: 80px;
    border: 1.5px solid #ffffff;
    border-radius: 30px;

    .wheel {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      width: 10px;
      height: 10px;
      background: #ffffff;
      border-radius: 99999px;
    }
  }
}
